<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>iOS</string>
	<key>ordering</key>
	<array>
		<string>FFBB5412-B5EA-4075-8609-F33FE2985D07</string>
		<string>4A1E1634-C058-4898-9C8E-4DD1EF9F0BB7</string>
		<string>462923AD-1F12-46FB-9B56-5E1D60081624</string>
		<string>FDD4FB63-154F-467A-A759-1E8679A57CF7</string>
		<string>9EAD4558-A31E-4911-A927-CFF8ECEFB6ED</string>
		<string>D57EEE0A-6B15-402C-A9AD-E8ADD5246E43</string>
	</array>
	<key>uuid</key>
	<string>FD63BFEE-6B05-4C7F-8F8C-2DD6F8E5392B</string>
</dict>
</plist>
